<meta charset="utf-8">
<style>
  h3.title {
    padding: 1em 0;
    background-color: #163DFF;
  }

  a {
    color: white;
    text-decoration: none;
  }

  a:link {
    color: white;
    text-decoration: none;
  }

  a:visited {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }

  .navbar {
    width: 100% !important;
    background-color: #163DFF;
  }

  a.btn {
    background-color: #163DFF;
  }

  li {
    color: white;
  }

  button.btn {
    background-color: white;
  }

</style>


<header>
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarExample01"
        aria-controls="navbarExample01" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarExample01">
        <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link" aria-current="page"  href="/">방문자 명단</a>
          </li>
            <select name="searchtype" form="searchForm" data-style="btn-inverse" class="selectpicker" required>
              <option value="" selected disabled hidden>선택해주세요.</option>
              <option value="pnum">번호 검색</option>
              <option value="shop">상점 검색</option>
            </select>
            <li>
              <form method="get" id="searchForm" class="form-inline my-2 my-lg-0" action="/search">
                <input class="form-control mr-sm-2 search" type="search" name="term" placeholder="Search"
                  aria-label="Search">
                <button class="btn my-2 my-sm-0" type="submit">검색</button>
              </form>
            </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->

  <!-- Jumbotron -->
  <div class="p-5 text-center ">
    <h6 class="mb-1">2주간 내역을 확인할 수 있습니다.</h6>
    <h4 class="mb-3">
       <h6 class="mb-1">2주간 내역을 확인할 수 있습니다.</h6>
      <%- term %> 검색 결과 입니다.</h4>
      <a class="btn" href="/search?searchtype=<%-searchtype%>&term=<%-term%>" role="button">새로고침</a>
  </div>
  <!-- Jumbotron -->
</header>



<!-- 
<title>Go Visitor's Book</title>


<h3 class="title text text-center"><a href="/">방문자 명단</a></h1>


  
<nav class="navbar navbar-light ">

  <a class="navbar-brand" href="#">최근 방문 기록</a>
  <form method="get" id="searchForm" class="form-inline my-2 my-lg-0" action="/search">
    <input class="form-control mr-sm-2 search" type="search" name="term" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
  </form>
  <select name="searchtype" form="searchForm" data-style="btn-inverse" class="selectpicker" required>
    <option value="" selected disabled hidden>선택해주세요.</option>
    <option value="pnum">번호 검색</option>
    <option value="shop">상점 검색</option>
  </select>

</nav> -->